:root {
    --primary-color-300: rgb(113, 30, 190);
    --primary-color-200: rgb(113, 30, 190, 0.75);
    --primary-color-100: rgb(113, 30, 190, 0.5);
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

* {
    font-family: 'Quicksand', 'Alegreya', sans-serif, serif;
}

body {
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.headerCont {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 6vmax;
    z-index: 5000;
    margin-bottom: 0.5vmax;
}

header {
    position: relative;
    height: 100%;
    z-index: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    position: relative;
    top: 0;
    z-index: inherit;
    margin: 0;
    color: rgb(211, 170, 250);
    text-align: center;
    font-size: 2.5vmax;
}

header p {
    position: relative;
    top: 0;
    z-index: inherit;
    margin: 0;
    color: rgb(211, 170, 250);
    text-align: center;
}

#gradient-canvas {
    width: 100%;
    height: 100%;
    --gradient-color-1: #711ebe;
    --gradient-color-2: #471675;
    --gradient-color-3: #6b0bc5;
    --gradient-color-4: #621aa5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: inherit;
}

main {
    margin-bottom: 5vmin;
}

.searchCont {
    position: relative;
    height: 7vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 1vmin 0;
    background-color: rgb(243, 243, 243);
    margin-bottom: 0;

}

.searchCont button {
    border: none;
}

.infoCont {
    position: relative;
    width: calc(30vmax + 2px);
    height: calc(5vmin + 2px);
    z-index: 2000;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    height: max-content;
    border-bottom-left-radius: 1vmin;
    border-top-left-radius: 1vmin;
    background-color: white;
    border-style: solid;
    border-color: var(--primary-color-100);
    border-width: 1px;
    box-sizing: border-box;
}

.info input {
    box-sizing: border-box;
    width: 30vmax;
    height: 5vmin;
    border-bottom-left-radius: 1vmin;
    border-top-left-radius: 1vmin;
    padding-left: 1vmin;
    border-radius: 1vmin;
    border: none;
    font-size: 1vmax;
}

.info input::placeholder {
    color: rgb(190, 190, 190);
}

.info input:focus {
    outline: none;
}

#invalidCity {
    display: none;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.searchButton {
    font-size: 1vmax;
    color: white;
    box-sizing: border-box;
    background-color: var(--primary-color-100);
    margin: 0;
    height: calc(5vmin + 2px);
    border: none;
    border-width: 1px;
    border-bottom-right-radius: 1vmin;
    border-top-right-radius: 1vmin;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: var(--primary-color-200);
}

#buttons {
    position: relative;
    height: 100%;
}

.cover {
    position: absolute;
    border-radius: 0.8vmin;
    left: 0;
    top: 10%;
    height: 80%;
    z-index: 1;
    background-color: rgb(207, 207, 207);
    transition: 0.5s ease;
}

.locationSearch,
.standardUnits,
.metricUnits,
.imperialUnits {
    background-color: transparent;
    border-radius: 0.8vmin;
    font-size: 0.6vmax;
    height: 100%;
    position: relative;
    transition: background-color 0.3s ease;
    z-index: 2;
    margin-left: 1vmax;
}

.locationSearch:hover,
.standardUnits:hover,
.metricUnits:hover,
.imperialUnits:hover {
    background-color: rgb(235, 235, 235);
}

.disabled:hover {
    background-color: unset;
}

#geoResults {
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
    background-color: white;
    border-color: var(--primary-color-100);
    border-bottom-left-radius: 1vmin;
    border-bottom-right-radius: 1vmin;
    list-style: none;
}

.loading {
    height: 2vmin;
    width: 2vmin;
    margin-top: 10px;
    background-color: var(--primary-color-100);
    border-radius: 50%;
    animation: loading 1s alternate ease infinite;
    align-items: center;
}

@keyframes loading {
    to {
        scale: 1.75;
    }
}

.list-item {
    display: flex;
    justify-content: space-between;
    font-size: 1vmax;
    align-items: center;
    padding-left: 10px;
    margin: 2px 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

.list-item:hover {
    background-color: rgba(113, 30, 190, 0.05);
}

.searchName {
    width: 18vmax;
}

.searchTemp {
    width: 4vmax;
}

.searchCoor {
    font-size: 0.7vmax;
    width: 5vmax;
    color: rgb(190, 190, 190);
}

#details div {
    font-size: 1.75vmin;
    display: flex;
    align-items: center;
}

.weatherDisplay {
    margin: auto;
    margin-top: 5vmin;
    width: 80vmax;
}

.top {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    margin-bottom: 0vmax;
}

#pos {
    margin: 5px 0;
    font-size: 2vmax;
    color: rgb(93, 27, 155);
}

#currentTemp {
    display: flex;
    align-items: center;
}

#details {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding-left: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-left-color: var(--primary-color-300);
}

.icon-pressure,
.icon-snow {
    height: 1vmax;
}

#map {
    height: 22vmax;
}

.leaflet-control-layers-selector {
    height: 1vmin;
    width: 1vmin;
}

.bottom {
    display: grid;
    grid-template-columns: 45% 45%;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.bottomHeader {
    font-size: 2vmax;
    height: 5%;
    color: rgb(93, 27, 155);
}

#chartsDisplay {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#chartsDisplay label {
    display: flex;
    align-items: center;
}

#chartsDisplay input[type="radio"] {
    appearance: none;
    background: #fff;
    margin: 0;
    padding: 0;
    width: 1.2vmax;
    height: 1.2vmax;
    border: 1px solid var(--primary-color-300);
    border-radius: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#chartsDisplay input[type="radio"]::before {
    position: absolute;
    top: auto;
    left: auto;
    content: '';
    background-color: var(--primary-color-300);
    width: 0.7vmax;
    height: 0.7vmax;
    border-radius: 50%;
    transform: translateX(-1px);
    transform: scale(0);
    transition: all 0.12s ease-in-out;
    box-shadow: inset 1vmax 1vmax 0.2 rgba(0, 0, 0, 0.2);
}

#chartsDisplay input[type="radio"]:checked:before {
    transform: scale(1);
}

.fullChartCont {
    position: relative;
}

.chartCont {
    position: relative;
    margin: 0;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chartCont::-webkit-scrollbar {
    display: none;
}

.innerCont {
    width: 200vw;
    overflow-x: auto;
    overflow-y: hidden;
}

#myYAQIChart,
#myYCOChart,
#myYNOChart,
#myYNO2Chart,
#myYO3Chart,
#myYSO2Chart,
#myYPM2_5Chart,
#myYPM10Chart,
#myYNH3Chart,
.forecastYChart {
    position: absolute;
    top: 0;
    left: 0;
}

#myAQIChart,
#myCOChart,
#myNOChart,
#myNO2Chart,
#myO3Chart,
#mySO2Chart,
#myPM2_5Chart,
#myPM10Chart,
#myNH3Chart,
.forecastChart {
    position: absolute;
    left: 0;
}

#dayDescription {
    display: flex;
}

.daysRow {
    flex-direction: row;
}

#forecastDays {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#forecastDays::-webkit-scrollbar {
    display: none;
}

.forecastDay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(113, 30, 190, 0.05);
    margin-bottom: 0.5vmin;
    padding: 3vmin 0;
    height: max-content;
    transition: all 0.3s ease;
}

.closed:after {
    content: '\25BC';
    font-size: 1vmax;
    float: right;
    margin-left: 5px;
}

.open {
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-left-color: rgb(113, 30, 190, 0.3);
    border-right-color: rgb(113, 30, 190, 0.3);
}

.open:after {
    content: '\25B2';
    font-size: 0.7vmax;
    float: right;
    margin-left: 5px;
}

.dayRow {
    width: 20%;
    height: 10px;
}

.forecastDay:hover {
    background-color: rgba(113, 30, 190, 0.2);
}

.forecastDate {
    width: 16vmax;
    font-size: 1.8vmax;
    font-weight: 700;
    text-align: center;
}

.dateRow {
    font-size: 1vmax;
    width: 5vmax;
}

.forecastWeather {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vmax;
    font-size: 1vmax;
}

.forecastIcon {
    width: 2.5vmax;
    height: 2.5vmax;
}

.forecastDescription {
    font-size: 1vmax;
    width: 6vmax;
}

.dayCont {
    display: none;
}

.forecastinnerCont {
    position: relative;
    width: 50vmax;
    left: 35px;
}

.forecastYChart {
    top: 20px;
}

#tempRange {
    margin: 10px 0;
    display: block;
}

#dayDetails {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 50%;
    padding-left: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-left-color: var(--primary-color-300);
}

#dayDetails div {
    font-size: 1.75vmin;
    display: flex;
    align-items: center;
}

th,
tr {
    width: 20%;
}

td {
    text-align: center;
}

footer {
    background-color: rgb(243, 243, 243);
    height: max-content;
    position: relative;
}

footer p {
    margin: 5px;
    color: rgb(133, 133, 133);
    font-size: 1.3vmin;
}

footer a {
    color: rgb(133, 133, 133);
    font-size: 1.3vmin;
}

footer div {
    bottom: 25%;
    right: 10vmin;
    position: absolute;
    display: flex;
    width: max-content;
    float: right;
}

.svgLink,
footer a svg {
    width: 4vmin;
    height: 4vmin;
    margin: 0 0 0 5vmin;
}

@media (min-width: 768px) and (max-width: 1023px) {

    html,
    body {
        height: 100%;
    }

    .weatherDisplay {
        width: 95vw;
        margin-top: 10vh;
    }

    .locationSearch,
    .standardUnits,
    .metricUnits,
    .imperialUnits {
        font-size: 0.9vmax;
    }

    #pos {
        font-size: 2.5vmax;
    }

    .innerCont {
        height: 35vh !important;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .innerCont::-webkit-scrollbar {
        display: none;
    }

    #myYAQIChart,
    #myYCOChart,
    #myYNOChart,
    #myYNO2Chart,
    #myYO3Chart,
    #myYSO2Chart,
    #myYPM2_5Chart,
    #myYPM10Chart,
    #myYNH3Chart,
    .barrier {
        height: 32.2vh !important;
    }

    .forecastYChart {
        height: 30.45vh !important;
    }

    #myAQIChart,
    #myCOChart,
    #myNOChart,
    #myNO2Chart,
    #myO3Chart,
    #mySO2Chart,
    #myPM2_5Chart,
    #myPM10Chart,
    #myNH3Chart,
    .forecastChart {
        width: 200vmax !important;
        height: 35vh !important;
    }

    .forecastChart {
        width: 100vw !important;
    }

    #chartsDisplay label {
        font-size: 0.8vmax;
    }

    .forecastDate {
        font-size: 1.4vmax;
    }

    .dateRow {
        width: 4.6vmax;
        font-size: 1vmax;
    }

    .forecastDay:hover {
        background-color: rgba(113, 30, 190, 0.05);
    }

    .dayRow:hover {
        background-color: rgba(113, 30, 190, 0.2)
    }

    #dayDetails {
        width: 100%;
    }

    footer {
        bottom: -6.5vh;
    }
}

@media (max-width: 767px) {

    html,
    body {
        height: 100%;
    }

    .headerCont {
        height: 10vh;
    }

    header h1 {
        font-size: 8vw;
    }

    .searchCont {
        height: 10vmin;
        justify-content: center;
    }

    .infoCont {
        position: relative;
        width: calc(20vmax + 2px);
        height: calc(8vmin + 2px);
    }

    .info {
        width: calc(20vmax + 2px);
        height: calc(8vmin + 2px);
    }

    .info input {
        width: 20vmax;
        height: 8vmin;
        font-size: 1.3vmax;
    }

    .searchButton,
    .locationSearch {
        height: calc(8vmin + 2px);
        font-size: 1.3vmax;
    }

    #buttons {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100vw;
    }

    .locationSearch,
    .standardUnits,
    .metricUnits,
    .imperialUnits {
        font-size: 1.3vmax;
        font-weight: 550;
    }

    .weatherDisplay {
        width: 95vw;
        margin-top: 5vh;
    }

    .top {
        width: 100%;
        grid-template-columns: 100%;
    }

    #pos {
        font-size: 10vw;
    }

    #currentTemp {
        font-size: 3vmax !important;
    }

    #details {
        padding-left: 5px;
    }

    #details div {
        font-size: 4vmin !important;
    }

    .icon-pressure,
    .icon-snow {
        height: 4vmin;
    }

    #map {
        height: 40vh;
    }

    .bottom {
        grid-template-columns: 100%;
    }

    .bottomHeader {
        font-size: 8vw;
    }

    #chartsDisplay input[type="radio"] {
        margin-right: 2px;
    }

    #chartsDisplay label {
        font-size: 1.3vmax;
    }

    .innerCont {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .innerCont::-webkit-scrollbar {
        display: none;
    }

    .forecastinnerCont {
        width: 100vmax;
    }

    #myAQIChart,
    #myCOChart,
    #myNOChart,
    #myNO2Chart,
    #myO3Chart,
    #mySO2Chart,
    #myPM2_5Chart,
    #myPM10Chart,
    #myNH3Chart {
        width: 500vmax !important;
    }

    .forecastChart {
        width: 100vmax !important;
    }

    #dayDetails div {
        font-size: 4vmin !important;
    }

    .forecastDate {
        width: 40vw;
        font-size: 4vw;
    }

    .dateRow {
        width: 7vmax;
        font-size: 2vw;
    }

    .forecastDay:hover {
        background-color: rgba(113, 30, 190, 0.05);
    }

    .dayRow:hover {
        background-color: rgba(113, 30, 190, 0.2)
    }

    .forecastWeather {
        font-size: 2.5vw;
    }

    .forecastDescription {
        width: 15.5vw;
        font-size: 2vw;
    }

    #dayDetails {
        width: 100%;
    }
}